body {
    background-color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 1em;
}
.logo {
    width: 300px;
    margin-bottom: 20px;
    position: relative;
    top: -28px;
}
.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: #ffffff 2px solid;
    height: 100px;
    margin-bottom: 37px;
}
.navlinks {
    margin-right: 50px;
    margin-top: 37px;
}
.navlinks a {
    margin: 40px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.navlinks a:hover {
    color:#fd4b4b;
}
.footer {
    display: flex;
    justify-content: center;
    border-top: #ffffff 2px solid;
    margin-top: 37px;
}
.footer a {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 37px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover {
    color:#fd4b4b;
}
.copyright {
    text-align: center;
}