body {
    background-color:#ffffff;
    color:#000000;
}
a {
    color:#3d3ddd;
}
h1 {
    color:#000000;
}
nav {
    background-color:#000000;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {
    color:#ffffff;
}
nav a:hover {
    background-color:#7aa9fca7;
}
.quote {float: right;}
.part1 {display: flex; padding: 10px; margin: 10px;}
.logo {width: 65px; height: auto;}
.address {flex: 1; padding: 15px;}
.links {flex: 3; padding: 15px;}
.part1, .part2 {background-color:#d2d2d2; border-radius: 1em;}

.part2 {display: flex; padding: 10px; margin: 10px;}
.form {flex: 1; padding: 15px;}
.map {flex: 2; padding: 15px;}